[Unit]
Description=smsd
After=smstools.service mysql.service

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/skripts/smsd.py

[Install]
WantedBy=multi-user.target